<h4><b>Description:</b></h4> 
<p>Capex App is designed for a user to create a capital request. 
    A user enters the project name, fiscal year, project cost, expenses, etc...  
    Once a user saves the information, the data is stored in the local storage. 
    The application displays the input information and the remaining budget balance. 
    A user can edit the project information.
</p>

<p>
<b>Purpose:</b>
To replace budget tracking in Excel. 
</p>
<p>
<b>Technology used:</b>
</p>
<ul>
    <li>HTML5 – local storage </li>
    <li>Angular 2 – form, routing, component, and service</li>
</ul>
