<h3>{{title}}</h3>
<div [(ngModel)]="project.projectName" >

</div>
<p>Delete {{project.projectName}} </p>
<div class="col-md-4">
    <table class="table table-striped">
        <!-- <thead>
            <nav>
                <a [routerLink]="['/delete',  friend.id ]" routerLinkActive="active">
                    Delete
                </a>
            </nav>
        </thead> -->
        <a [routerLink]="['/delete',  project.budgetId ]">
            {{project.projectName}}
        </a>
        <button class="btn btn-danger" (click)="removeProject(project.budgetId)">OK</button>
        <button class="btn btn-default" routerLink="/">Cancel</button>
        </table>
</div>