<!-- Add Information /add-->
<div class="form">
  <h4>{{title}}</h4>
  <div class="form-container">
    <form (ngSubmit)="saveProject()">
      <!-- <div class="form-group">
            <label for="budgetId">Budget Id</label>
            <div>
              <span [(ngModel)]="project.budgetId"  class="form-control" required ></span>
            </div>
            <[(ngModel)]="project.budgetId" 
            [disabled]="project.budgetId class="form-control" required />
        </div> -->

      <div class="form-group">
        <label for="projectName">Project</label>
        <input type="text" name="name" [(ngModel)]="project.projectName" class="form-control" required />
      </div>


      <!-- <div class="form-group">
            <label for="budgetYear">Budget Year</label>
            <input type="text" name="address" [(ngModel)]="project.budgetYear" 
                                class="form-control" required />
        </div> -->

      <!--Select Option for Fiscal year-->
      <div class="form-group">
        <label for="pYear">Type</label>
        <select name="pYear" [(ngModel)]="project.budgetYear" class="form-control" required>
          <option [value]="'FY22'">FY22</option>
          <option [value]="'FY23'">FY23</option>
        </select>
      </div>

      <div class="form-group">
        <label for="budgetAmount">Budget Amount</label>
        <input type="text" name="budgetAmount" [(ngModel)]="project.budgetAmount" class="form-control" required />
      </div>

      <!-- <div class="form-group">
          <label for="assetClasss">Asset Class</label>
          <input type="text" name="assetClass" [(ngModel)]="project.assetClass" 
                              class="form-control" required />
      </div> -->

      <!--Select Option for asset type-->
      <div class="form-group">
        <label for="ptype">Type</label>
        <select name="ptype" [(ngModel)]="project.assetClass" class="form-control" required>
          <option [value]="'Computer'">Computer</option>
          <option [value]="'Leasehold Improvement'">Leasehold Improvement</option>
          <option [value]="'Office Furniture'">Office Furniture</option>
          <option [value]="'Office Equipment'">Office Equipment</option>
        </select>
      </div>

      <!-- <div class="form-group">
          <label for="department">Department</label>
          <input type="text" name="department" [(ngModel)]="project.department" 
                              class="form-control" required />
      </div>
   -->
      <!--Select Option for Department-->
      <div class="form-group">
        <label for="ctype">Type</label>
        <select name="pdepartment" [(ngModel)]="project.department" class="form-control" required>
          <option [value]="'Finance'">Finance</option>
          <option [value]="'Facility'">Facility & Construction</option>
          <option [value]="'Information Technology'">Information Technology</option>
          <option [value]="'Network Operation'">Network Operation</option>
        </select>
      </div>

      <div class="form-group">
        <label for="department">Business Justification</label>
        <input type="text" name="businessJustification" [(ngModel)]="project.businessJustification" class="form-control"
          required />
      </div>

      <div class="form-group">
        <label for="requestor">Requestor</label>
        <input type="text" name="requestor" [(ngModel)]="project.requestor" class="form-control" required />
      </div>

      <!-- <div class="form-group">
          <label for="status">Request Status</label>
          <input type="text" name="status" [(ngModel)]="project.status" 
                              class="form-control" required />
      </div> -->

      <!--Select Option for Budget status-->
      <div class="form-group">
        <label for="pstatus">Type</label>
        <select name="pstatus" [(ngModel)]="project.status" class="form-control" required>
          <option [value]="'Submitted'">Submitted</option>
          <option [value]="'Pending'">Pending</option>
          <option [value]="'Denied'">Denied</option>
          <option [value]="'Approved'">Approved</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Expense">Project Expense</label>
        <input type="text" name="Expense" [(ngModel)]="project.actualSpending" class="form-control" required />
      </div>

      <!-- <div class="form-group">
          <label for="remainingBudget">Remaining Budget</label>
          <input type="text" name="remainingBudget" [(ngModel)]="project.remainingBudget" 
                              class="form-control" required />
      </div> -->

      <!-- Add save and cancel button -->
      <div class="form-group">
        <button class="btn btn-default" routerLink="/">Cancel</button>
        <button class="btn btn-primary" [routerLink]="['/details',  project.budgetId ]">
          Save
        </button>
      </div>

    </form>
  </div>
</div>