.active {
	color: navy;
	text-decoration: underline;
}

/* Element
-------------------------*/
h1 {
	color: burlywood;
}

h2,
h3 {
	color: darkcyan;
	font-family: 'Caveat', cursive;
	font-weight: 400;
}

p,
li {
	font-size: 20px;
	font-display: initial;
}

/* Table header and row
-------------------------*/
/* table{
    border: 1px solid black;
} */
th {
	text-align: center;
	background-color: navy;
	color: wheat;
	padding: 10px;
}

td {
	text-align: left;
	padding: 10px;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

/* Header and Footer
-------------------------*/
header,
footer {
	background: #2B2D42;
	color: #8D99AE;
}

/* header */
header {
	padding-top: 50px;
	position: relative;
}

header h1,
header h2 {
	color: #EDF2F4;
	margin: 0;
}

/* Navigation
-------------------------*/
.nav>li>a {
	color: #ffffff;
}

.nav>li>a:hover {
	color: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
.navbar {
	background-color: #006E9A;
	color: #006E9A;
}

/* .navbar {
	overflow: hidden;
	background-color: #333;
} */

.navbar a {
	float: left;
	font-size: 16px;
	color: whitesmoke;
	text-transform: uppercase;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.navbar .current {
	background-color: steelblue;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: steelblue;
}