 /* Navigation
-------------------------*/
 .nav>li>a {
   color: #ffffff;
 }

 .nav>li>a:hover {
   color: #fff;
 }

 .navbar {
   overflow: hidden;
   background-color: #333;
 }

 .navbar a {
   float: left;
   font-size: 16px;
   color: whitesmoke;
   text-transform: uppercase;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }


 .navbar .current {
   background-color: steelblue;
 }

 .navbar a:hover,
 .dropdown:hover .dropbtn {
   background-color: steelblue;
 }


 /* Table */

 /* body {
    font: normal medium/1.4 sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    background-color: teal;
    color: white;
    text-align: center;
    border: 1px solid #ccc;
  }
  td{
    text-align: center;
    border: solid #ccc;
  }
  tbody tr:nth-child(odd) {
    background: #eee;
  } */

 /* table 2 */

 /* * {
    box-sizing: border-box;
  }
  body {
    background: steelblue;
    font-family: "Open Sans", arial;
  } */


 /* table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #38678f;
 
    background: white;
  }
  th {
    background: steelblue;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;

  }
  tr {
    border-bottom: 1px solid #cccccc;
  }
  td {
    border-right: 1px solid #cccccc;
    text-align: center;
    transition: all 0.2s;
  } */


 /* table 3 */
 /* * {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 body {
   font-family: Helvetica;
   -webkit-font-smoothing: antialiased;
   background: rgba(71, 147, 227, 1);
 }

 h2 {
   text-align: center;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
   padding: 30px 0;
 } */

 /* Table Styles */

 /* table-wrapper{
      margin: 10px 70px 70px;
      box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  } */

 /* table {
   border-radius: 5px;
   font-size: 12px;
   font-weight: normal;
   border: none;
   border-collapse: collapse;
   width: 100%;
   max-width: 100%;
   white-space: nowrap;
   background-color: white;
 }

 table td,
 table th {
   text-align: center;
   /* padding: 1px; */
 /* }

 .table td {
   border-right: 1px solid #f8f8f8;
   font-size: 12px;
 }

 table thead th {
   color: #ffffff;
   background: #4FC3A1;
 }


 table thead th:nth-child(odd) {
   color: #ffffff;
   background: #324960;
 }

 table tr:nth-child(even) {
   background: #F8F8F8;
 } */

 /* Responsive */

 /* @media (max-width: 767px) {
   table {
     display: block;
     width: 100%;
   }

   .table-wrapper:before {
     content: "Scroll horizontally >";
     display: block;
     text-align: right;
     font-size: 11px;
     color: white;
     padding: 0 0 10px;
   }

   table thead,
   table tbody,
   table thead th {
     display: block;
   }

   table thead th:last-child {
     border-bottom: none;
   }

   table thead {
     float: left;
   }

   table tbody {
     width: auto;
     position: relative;
     overflow-x: auto;
   }

   table td,
   table th {
     padding: 20px .625em .625em .625em;
     height: 60px;
     vertical-align: middle;
     box-sizing: border-box;
     overflow-x: hidden;
     overflow-y: auto;
     width: 120px;
     font-size: 13px;
     text-overflow: ellipsis;
   }

   table thead th {
     text-align: left;
     border-bottom: 1px solid #f7f7f9;
   }

   table tbody tr {
     display: table-cell;
   }

   table tbody tr:nth-child(odd) {
     background: none;
   }

   table tr:nth-child(even) {
     background: transparent;
   }

   table tr td:nth-child(odd) {
     background: #F8F8F8;
     border-right: 1px solid #E6E4E4;
   }

   table tr td:nth-child(even) {
     border-right: 1px solid #E6E4E4;
   }

   table tbody td {
     display: block;
     text-align: center;
   }
 }  */


 table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
/* table td {
	padding: 15px;
} */
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}